:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
  --border-radius: 30px;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Roboto", sans-serif, Arial, Helvetica, sans-serif;
  color: white;
  overflow-x: hidden;
}

.bg-colour {
  background-color: black;
}
/* header navigation */

.initiaLogo {
  width: 150px;
}

.nav-list {
  border-bottom: 1px solid rgb(83, 83, 83);
}

.list-id {
  padding: 0.55rem 0 0.55rem 1.5rem;
}

/* Navigation media Query */
@media screen and (min-width: 768px) {
  nav {
    border-bottom: 1px rgb(61, 61, 61) solid;
  }
  .main-list {
    flex-grow: 0;
  }
  .nav-list {
    border-style: none;
  }
  .list-id {
    padding: 0 20px;
  }
}

/* first section */
.flex {
  display: flex;
}

/* adding the black background to the firts mian body */
main {
  background: black no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 93vh;
}

.container {
  flex-direction: column;
  padding: 0 2rem;
}

.clip-path {
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
  padding-bottom: calc(var(--padding-vertical) + 4rem);
}
.first-header {
  color: white;
  text-align: center;
  flex-direction: column;
}
h1 {
  margin: 0;
  font-size: 4rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-weight: 900;
}

.btn-primary {
  background-color: var(--color-accent);
  align-self: center;
}

.btn-primary:hover {
  background-color: var(--color-accent);
}

.btn {
  border-style: none;
  border-radius: 40px;
  font-weight: 600;
  cursor: pointer;
  margin: 1rem 0;
  padding: 15px;
  text-transform: uppercase;
}

.btn-stretched {
  padding-left: 5rem;
  padding-right: 5rem;
}

.first-para {
  width: 300px;
  align-self: center;
  letter-spacing: 1px;
}

/* the section for the main image */
.main-img {
  justify-content: center;
  align-self: center;
}
.main-img img {
  width: 100%;
  height: 400px;
  transform: skew(-1.5deg, -2deg);
}
@media screen and (min-width: 600px) {
  .main-img img {
    width: 450px;
  }
}
@media screen and (min-width: 850px) {
  main {
    min-height: 60vh;
  }

  .main-img img {
    width: 480px;
  }

  h1 {
    font-size: 4.5rem;
    max-width: 600px;
    text-align: left;
  }
  .container {
    flex-direction: row;
    max-width: 1000px;
    min-height: 100%;
    justify-content: space-between;
  }
  .first-header {
    align-self: center;
  }
  .first-para {
    align-self: flex-start;
    text-align: left;
  }
  .btn-primary {
    align-self: flex-start;
  }
}

/* first section after main */
.first-aside {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 80px;
  color: var(--color-body);
  min-height: 100vh;
}

.aside-para {
  letter-spacing: 0.5px;
  width: 375px;
  font-size: 1.2rem;
}

.first-aside h2 {
  color: var(--color-headings);
  font-weight: 900;
  font-size: 2.7rem;
  width: 400px;
  text-align: center;
}
.btn-input {
  padding-right: 25px;
}

/* search btn inside image */
.btn > img {
  width: 20px;
  margin: 0 10px;
}

input[name="domain-name"] {
  border-style: none;
  padding: 15px;
}

input[name="domain-name"]:focus {
  outline: none;
}

.inputAndBtn {
  border-radius: 45px;
  border: 1px solid var(--color-border);
  box-shadow: 0 0 20px 30px #f3f1f1;
  margin-top: 25px;
  padding: 5px;
  height: 60px;
  position: relative;
  outline: none;
}

input[name="domain-name"],
.btn-input {
  border-radius: 45px;
  position: relative;
  bottom: 19px;
}

@media screen and (min-width: 700px) {
  .first-aside h2 {
    width: 100%;
    font-size: 3rem;
  }
  .aside-para {
    width: 100%;
    text-align: center;
  }
  .inputAndBtn {
    width: 650px;
  }

  .btn-input {
    border-radius: 45px;
    position: relative;
    bottom: 19px;
    left: 260px;
  }
}
