:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
  --border-radius: 30px;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Roboto", sans-serif, Arial, Helvetica, sans-serif;
  color: white;
  overflow-x: hidden;
}

.bg-colour {
  background-color: black;
}
/* header navigation */

.initiaLogo {
  width: 150px;
}

.nav-list {
  border-bottom: 1px solid rgb(83, 83, 83);
}

.list-id {
  padding: 0.55rem 0 0.55rem 1.5rem;
}

/* Navigation media Query */
@media screen and (min-width: 768px) {
  nav {
    border-bottom: 1px rgb(61, 61, 61) solid;
  }
  .main-list {
    flex-grow: 0;
  }
  .nav-list {
    border-style: none;
  }
  .list-id {
    padding: 0 20px;
  }
}

/* first section */
.flex {
  display: flex;
}

/* adding the black background to the firts mian body */
main {
  background: black no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 93vh;
}

.container {
  flex-direction: column;
  padding: 0 2rem;
}

.clip-path {
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
  padding-bottom: calc(var(--padding-vertical) + 4rem);
}
.first-header {
  color: white;
  text-align: center;
  flex-direction: column;
}
h1 {
  margin: 0;
  font-size: 4rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-weight: 900;
}

.btn-primary {
  background-color: var(--color-accent);
  align-self: center;
}

.btn-primary:hover {
  background-color: var(--color-accent);
}

.btn {
  border-style: none;
  border-radius: 40px;
  font-weight: 600;
  cursor: pointer;
  margin: 1rem 0;
  padding: 15px;
  text-transform: uppercase;
}

.btn-stretched {
  padding-left: 5rem;
  padding-right: 5rem;
}

.first-para {
  width: 300px;
  align-self: center;
  letter-spacing: 1px;
}

/* the section for the main image */
.main-img {
  justify-content: center;
  align-self: center;
}
.main-img img {
  width: 100%;
  height: 400px;
  transform: skew(-1.5deg, -2deg);
}
@media screen and (min-width: 600px) {
  .main-img img {
    width: 450px;
  }
}
@media screen and (min-width: 850px) {
  main {
    min-height: 60vh;
  }

  .main-img img {
    width: 480px;
  }

  h1 {
    font-size: 4.5rem;
    max-width: 600px;
    text-align: left;
  }
  .container {
    flex-direction: row;
    max-width: 1000px;
    min-height: 100%;
    justify-content: space-between;
  }
  .first-header {
    align-self: center;
  }
  .first-para {
    align-self: flex-start;
    text-align: left;
  }
}

/* first section after main */
.first-aside {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 80px;
  color: var(--color-body);
  min-height: 50vh;
}

.aside-para {
  letter-spacing: 0.5px;
  width: 73vw;
  font-size: 1.2rem;
  text-align: center;
}

.first-aside h2 {
  color: var(--color-headings);
  font-weight: 900;
  font-size: 2.2rem;
  width: 300px;
  text-align: center;
}

/* search btn inside image */
.btn > img {
  width: 15px;
  margin: 0 10px;
}

input[name="domain-name"] {
  border-style: none;
  padding: 10px;
  border-radius: 45px;
  font-size: 1rem;
}

@media screen and (min-width: 416px) {
  .btn > img {
    width: 20px;
  }
  input[name="domain-name"] {
    font-size: 1.2rem;
  }
}

input[name="domain-name"]:focus {
  outline: none;
}

.inputAndBtn {
  flex-direction: row;
  justify-content: space-between;
  border-radius: 45px;
  border: 1px solid var(--color-border);
  box-shadow: 0 0 20px 30px #ececec;
  margin: 25px 10px 0 20px;
  padding: 7px;
  max-width: 900px;
  height: 65px;
  outline: none;
}

.btn-input {
  border-radius: 90px;
  padding: 0.87rem;
}

@media screen and (min-width: 700px) {
  .first-aside h2 {
    width: 100%;
    font-size: 3rem;
  }
  .aside-para {
    width: 100%;
    text-align: center;
  }
  .inputAndBtn {
    width: 650px;
  }

  .btn-input {
    border-radius: 45px;
  }
}

.offer-list {
  white-space: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
}

@media screen and (min-width: 600px) {
  .offer-list {
    width: 68vw;
  }
}
.section-ul {
  margin-top: 25px;
  width: 100%;
  justify-content: space-between;
  padding-right: 32px;
}

.first-li,
.second-li {
  flex-direction: column;
  color: var(--color-headings);
  font-weight: 800;
  font-size: 1.3rem;
  text-align: center;
}

.first-li li,
.second-li li {
  margin: 12px 20px;
}

.second-li {
  padding-top: 8px;
}
.offer-list li {
  list-style: none;
}

.border-li {
  padding: 1px 25px;
  color: white;
  background-color: var(--color-secondary);
  border: 3px solid;
  border-radius: 30px;
}

/* changing the list to be in a row, and so its displayed in a line */
@media screen and (min-width: 855px) {
  .offer-list {
    width: 100%;
  }
  .section-ul {
    justify-content: center;
  }
  .first-li,
  .second-li {
    flex-direction: row;
  }

  .second-li,
  .next-li {
    padding-top: 5px;
  }
}

/* aside section for the cards */

.second-aside {
  margin-top: 30px;
  min-height: 65vh;
  color: black;
  justify-content: center;
  align-items: center;
  letter-spacing: 1.3px;
  flex-direction: column;
}

.card {
  width: 90%;
  max-width: 500px;
  height: 600px;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.5s;
  margin-bottom: 100px;
}

.card:hover {
  transform: scale(1.1);
}
.card-head {
  flex-direction: column;
  background-color: var(--color-secondary);
  color: white;
  padding: 20px 20px 5px;
}

.card-text {
  color: aliceblue;
}
.card-text .amount {
  font-size: 2.3rem;
}

.card-text .percent {
  margin: 0 15px;
  padding: 5px 15px;
  border-radius: 35px;
  color: white;
  font-weight: 800;
  font-size: 0.85rem;
  background-color: #15c3e2;
}

@media screen and (min-width: 450px) {
  .card {
    font-size: 1.2rem;
  }
  .card-text .amount {
    font-size: 2.7rem;
  }
  .card-text .percent {
    font-size: 1rem;
  }
}
.card-body {
  flex-direction: column;
  word-wrap: none;
  width: 100%;
  color: var(--color-headings);
}

.card-body ul {
  list-style-type: none;
  padding: 13px;
  width: 100%;
}

.card-body li {
  padding: 10px 20px 10px 0;
  text-align: left;
}

.card-body li::before {
  content: url(icons/tick.svg);
  padding-right: 20px;
}

.btn-card {
  color: var(--color-headings);
  width: 300px;
  align-self: center;
  border: 2px solid var(--color-headings);
}

@media screen and (min-width: 500px) {
  .btn-card {
    width: 400px;
  }
}

.btn-card:hover {
  background-color: var(--color-headings);
  color: white;
}

.popular-color {
  background-color: var(--color-primary);
}

.popular-color .percent {
  background-color: #126de4;
}
